global:
  resolve_timeout: 5m
  smtp_from: 'alerts@claude-flow.local'
  smtp_smarthost: 'localhost:25'

route:
  group_by: ['alertname', 'severity']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'default'
  routes:
    - match:
        severity: critical
      receiver: critical
      continue: true
    - match:
        severity: warning
      receiver: warning
      continue: true

receivers:
  - name: 'default'
    webhook_configs:
      - url: 'http://localhost:5001/webhook'
        send_resolved: true

  - name: 'critical'
    webhook_configs:
      - url: 'http://localhost:5001/webhook/critical'
        send_resolved: true
    email_configs:
      - to: 'oncall@claude-flow.local'
        headers:
          Subject: 'Critical Alert: {{ .GroupLabels.alertname }}'

  - name: 'warning'
    webhook_configs:
      - url: 'http://localhost:5001/webhook/warning'
        send_resolved: true

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'dev', 'instance']